/* container */
.container {
    padding: 40px 76px;
}

/* placehoder graph */
.placeholder__graph {
}

/* list helper */
.list__helper {
}

/* accordion helper */
.accordion__helper {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

.active, .accordion__helper:hover {
    background-color: #ccc;
}

.panel__helper {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}