body {
    margin: 0;
    /* background-image: url("./mockup/Gedung-Sate-Bandung.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; */
}

/* Navigation Bar */
.nav__top {
    margin: 0;
    padding: 0;
    list-style-type: none;
    overflow: hidden;
    background-color: rgb(119, 115, 115);
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    cursor: pointer;
    text-decoration: none;
}

li a:hover {
    background-color: rgb(48, 46, 46);
}

#username {
    float: right;
}

